{% extends "posts/base.html" %}
{% block content %}
<div class="container column" id="content">
    <div class="localcontacts__adress-text localcontacts__adress-text--nomar localnomargin">
        <div class="localcontacts__adress-inner">
            <b>Председатель ГСК - Очередной Евгений Прокопьевич</b>
            <a href="tel:+ 7 (916) 443 91 29">+ 7 (916) 443 91 29</a>
        </div>
        <div class="localcontacts__adress-inner">
            <b>Бухгалтер - Букреева Алевтина</b>
            <a href="tel:+ 7 (926) 603 69 68">+ 7 (926) 603 69 68</a>
        </div>
        <div class="localcontacts__adress-inner">
            <b>Электрик - Ротару Сергей</b>
            <a href="tel:+7 (985) 001 81 93">+7 (985) 001 81 93</a>
        </div>

        <div class="localcontacts__top-discription localcontacts__top-discription--nomar">
            <span>Прием звонков: с 9:00 до 18:00 (Пн-Пт)</span>
        </div>

        <div class="localcontacts__adress-inner">
            <b>Электронная почта</b>
            <div class="for-mobile-view">
                <table cellspacing="0">
                    <tbody>
                    <tr>
                        <td>
                            <div class="for-mobile-view">
                                <table cellspacing="0" style="width: 299px;">
                                    <tbody>
                                    <tr>
                                        <td style="width: 291px;">
                                            <p><strong><span style="color:#000000;"><span style="font-size:18pt;"><i
                                                    id="PH_user-email">gsk.soyz.nf@gmail.com</i></span></span></strong>
                                            </p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="localcontacts__adress-inner">
            <b>Адрес</b>
            <span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;">143302 МО г. Наро-Фоминск, Красноармейский пер., ГСК «СОЮЗ»</span></span></span>
        </div>
        <div class="localcontacts__adress-inner">
            <b>Реквизиты компании</b>
            <p style="text-align:justify"><span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;"><span style="background:white"><span
                    style="letter-spacing:-.35pt">ГСК «СОЮЗ»&nbsp;&nbsp; Наро-Фоминское &nbsp;ОСБ №2572</span></span></span></span></span>
            </p>

            <p><span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;"><span style="background:white"><span
                    style="letter-spacing:-.05pt">Р/счет № 40703810840270000229</span></span></span></span></span></p>

            <p><span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;"><span style="background:white"><span
                    style="letter-spacing:-.1pt">БИК 044525225</span></span></span></span></span></p>

            <p><span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;"><span style="background:white">К/с 30101810400000000225</span></span></span></span>
            </p>

            <p><span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;"><span style="background:white">ИНН 5030029528; КПП 503001001;&nbsp;</span></span></span></span>
            </p>

            <p style="margin-right:41px"><span style="color:#000000;"><span style="font-size:14pt;"><span
                    style="font-family:Times New Roman,Times,serif;"><span style="background:white"><span
                    style="letter-spacing:-.05pt">Банк получателя: Сбербанк России&nbsp;</span></span></span></span></span>
            </p>
        </div>
    </div>
</div>
{% endblock %}

